In [121]:
print('hello world')
print('be productive')

hello world
be productive

In [122]:
import pandas as pd

In [123]:
ship_table = pd.read_csv('Ship_Performance_Dataset.csv')

ship_table.head(2)

,Date,Ship_Type,Route_Type,Engine_Type,Maintenance_Status,Speed_Over_Ground_knots,Engine_Power_kW,Distance_Traveled_nm,Draft_meters,Weather_Condition,Cargo_Weight_tons,Operational_Cost_USD,Revenue_per_Voyage_USD,Turnaround_Time_hours,Efficiency_nm_per_kWh,Seasonal_Impact_Score,Weekly_Voyage_Count,Average_Load_Percentage
0,2023-06-04,Container Ship,NaN,Heavy Fuel Oil (HFO),Critical,12.597558,2062.983982,1030.943616,14.132284,Moderate,1959.017882,483832.354540,292183.273104,25.867077,1.455179,1.415653,1,93.769249
1,2023-06-11,Fish Carrier,Short-haul,Steam Turbine,Good,10.387580,1796.057415,1060.486382,14.653083,Rough,162.394712,483388.000509,883765.787360,63.248196,0.290361,0.885648,6,93.895372

In [124]:
ship_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2736 entries, 0 to 2735
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     2736 non-null   object
 1   Ship_Type                2600 non-null   object
 2   Route_Type               2600 non-null   object
 3   Engine_Type              2600 non-null   object
 4   Maintenance_Status       2600 non-null   object
 5   Speed_Over_Ground_knots  2736 non-null   float64
 6   Engine_Power_kW          2736 non-null   float64
 7   Distance_Traveled_nm     2736 non-null   float64
 8   Draft_meters             2736 non-null   float64
 9   Weather_Condition        2600 non-null   object
 10  Cargo_Weight_tons        2736 non-null   float64
 11  Operational_Cost_USD     2736 non-null   float64
 12  Revenue_per_Voyage_USD   2736 non-null   float64
 13  Turnaround_Time_hours    2736 non-null   float64
 14  Efficiency_nm_per_kWh    2736 non-null   float64
 15  Seasonal_Impact_Score    2736 non-null   float64
 16  Weekly_Voyage_Count      2736 non-null   int64
 17  Average_Load_Percentage  2736 non-null   float64
dtypes: float64(11), int64(1), object(6)
memory usage: 384.9+ KB

In [125]:
# ship_table['Ship_Type'].isnull()
# ship_table.info()

# Better Approach
df = ship_table.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2127 entries, 1 to 2735
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     2127 non-null   object
 1   Ship_Type                2127 non-null   object
 2   Route_Type               2127 non-null   object
 3   Engine_Type              2127 non-null   object
 4   Maintenance_Status       2127 non-null   object
 5   Speed_Over_Ground_knots  2127 non-null   float64
 6   Engine_Power_kW          2127 non-null   float64
 7   Distance_Traveled_nm     2127 non-null   float64
 8   Draft_meters             2127 non-null   float64
 9   Weather_Condition        2127 non-null   object
 10  Cargo_Weight_tons        2127 non-null   float64
 11  Operational_Cost_USD     2127 non-null   float64
 12  Revenue_per_Voyage_USD   2127 non-null   float64
 13  Turnaround_Time_hours    2127 non-null   float64
 14  Efficiency_nm_per_kWh    2127 non-null   float64
 15  Seasonal_Impact_Score    2127 non-null   float64
 16  Weekly_Voyage_Count      2127 non-null   int64
 17  Average_Load_Percentage  2127 non-null   float64
dtypes: float64(11), int64(1), object(6)
memory usage: 315.7+ KB